.action-sheet-group {
    background: #000000;
}

.my-custom-class .action-sheet-group {
    background: #000000;
}

.my-custom-class {
    --background: #070707;
}

ion-title {
    text-align: center;
}

h1 {
    text-align: center;
}

.boton {
    text-align: center;
}

.logout {
    text-align: center;
}

ion-input {
    color: #ffffff;
}

.viaje {
    color: #ffffff;
    text-align: center;
}