ion-title {
    text-align: center;
}

h2 {
    text-align: center;
}
h1 {
    text-align: center;
    color: #ffffff;
}
.viajes {
    text-align: center;
}

.logout {
    text-align: center;
}

ion-input {
    color: #ffffff;
}