.content-image{
    width: 500px;
    height: 370px;
    position: relative;
}

img{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.ft{
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
}
