.title {
    margin-bottom: 30px;
}

.title h4 {
    color: var(--ion-color-primary);
}

.title p {
    margin-top: 0 !important;
    color: #000000;
    font-size: small;
}

p {
    font-size: small;
    color: #000000;
    text-align: center;
}

h4 {
    text-align: center;
}

.datos {
    color: #ffffff;
    text-align: center;
}

.seleccion {
    text-align: center;
}

ion-input {
    color: #000000;
}